* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: rgba(24, 128, 24, 0.5);
    text-align: center;
    min-height: 100vh;

}
header, footer {
    background-color: rgb(165, 42, 42);
    text-align: center;
}

header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td {
	border: 1px solid black;
    display:flexbox;
    width: 20%;
    text-align: center;
    text-transform: capitalize;
    margin-right: 0px;
    font-size: x-small;
}
tr:nth-child(even) {
    background-color: chartreuse;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.d-none {
    display: none;
}

.top-nav ul li, #submitName a {
    display: inline;
    text-decoration: none;
    
}
.hero {
    order:-1;
    width: 50%;
    height: auto;
}
@media screen and (min-width: 600px){
    td {
        font-size: small;
    }    
    .row {
        flex-direction: row;
        justify-content: space-around;
        
    }
}
@media screen  and (min-width: 992px){
    td {
        font-size: medium;
    }
    .hero{
        order: 1;
    }
}
