* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: rgba(24, 128, 24, 0.5);

}
h1 {
    background-color: rgb(165, 42, 42);
}
td {
	border: 1px solid black;
  display: flexbox;
  width: 20%;
  text-align: center;
  margin-right: 0px;
  font-size: x-small;
}
tr:nth-child(even) {
    background-color: chartreuse;
}
@media screen and (min-width: 600px){
    td {
        font-size: small;
    }    
}
@media screen  and (min-width: 992px){
    td {
        font-size: medium;
    }
}