<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1" >
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./js/parkfinder.js" defer></script>
    
    <title>Kentuckiana Parks</title>
</head>
<body>
    <h1>Welcome to Kentuckiana Parks and Recreation</h1>
    <p>We hope to be your first stop when it comes to Louisville area parks.</p>
    <div id='app'>
		<h1>Kentuckiana Parks</h1>
       
            <label>Search by City</label>
            <input type="text" v-model="selectedCity"></input>
        <div class="park">
			<table>
			<thead><td>Park</td><td>Street Address</td><td>City</td><td>Visited</td><td>Favorite</td></thead>
			<div>
			<tr v-for="park in parks" :key='park.id' v-show='park.city === selectedCity'>
				<td>{{ park.parkName }}</td>
				<td>{{ park.address }}</td>
				<td>{{ park.city }}</td>
				<td><input type="checkbox" v-model='park.visited'></input></td>
                <td><input type="checkbox" v-model='park.favorite'></input></td>
          </tr>
		  </table>
          <label>Search by County</label>
            <input type="text" v-model="selectedCounty"></input>
        <div class="park">
			<table>
			<thead><td>Park</td><td>Street Address</td><td>County</td><td>Visited</td><td>Favorite</td></thead>
			<div>
			<tr v-for="park in parks" :key='park.id' v-show='park.county === selectedCounty'>
				<td>{{ park.parkName }}</td>
				<td>{{ park.address }}</td>
				<td>{{ park.county }}</td>
				<td><input type="checkbox" v-model='park.visited'></input></td>
                <td><input type="checkbox" v-model='park.favorite'></input></td>
          </tr>
		  </table>
          <label>Search by Zip Code</label>
            <input type="text" v-model="selectedZipCode"></input>
        <div class="park">
			<table>
			<thead><td>Park</td><td>Street Address</td><td>Zip Code</td><td>Visited</td><td>Favorite</td></thead>
			<div>
			<tr v-for="park in parks" :key='park.id' v-show='park.zipCode === selectedZipCode'>
				<td>{{ park.parkName }}</td>
				<td>{{ park.address }}</td>
				<td>{{ park.zipCode }}</td>
				<td><input type="checkbox" v-model='park.visited'></input></td>
                <td><input type="checkbox" v-model='park.favorite'></input></td>
          </tr>
		  </table>
		  </div>
		  <p>Parks I want to visit.</p>
		  <div class="park">
			<table>
			<thead><td>Park</td><td>Street Address</td><td>Zip Code</td><td>To Visit</td></thead>
			<div>
			<tr v-for="park in parks" :key='park.id' v-show='park.visited === true'>
				<td>{{ park.parkName }}</td>
				<td>{{ park.address }}</td>
				<td>{{ park.zipCode }}</td>
				<td><input type="checkbox" v-model='park.visited'></input></td>
          </tr>
		  </table>
		  </div>
          <div class="park">
			<table>
			<thead><td>Park</td><td>Features</td</thead>
			<div>
			<tr v-for="highlight in highlights" :key='highlight.id' v-show='highlight.parkId === randomId'>
				<td>{{ highlight.parkName }}</td>
				<td>{{ highlight.features }}</td>
          </tr>
		  </table>
        </div>
	</div>

</body>
</html>