<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1" >
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./js/parks.js" defer></script>
	<script src="./js/highlights.js" defer></script>
	<script src="./js/parkfinder.js" defer></script>
	<script src="./js/test.js" defer></script>	
    <title>Kentuckiana Parks</title>
</head>
<body>
    <h1>Welcome to Kentuckiana Parks and Recreation</h1>
    <p>We hope to be your first stop when it comes to Louisville area parks.</p>
    <div id='app'>
		<h2>Kentuckiana Parks</h2>
		<div class="SearchRadioButtons row">
            <label> Search for parks by:<br> City, County, or Zip Code<br>
			<input type="search" id='search-bar' autocomplete='off' v-model='searchParam'></input>
			</label>
			<ul class="output d-none">
				<li v-for="item in masterList">{{ item }}</li>
			</ul>
        </div>
        <div class="park" id='city'>   
			
			<table>
			<thead><td>Park</td><td>Street Address</td><td>City</td><td>Visited</td><td>Favorite</td></thead>
			<tr v-for="park in parks" :key='park.id' v-if='searchParam.toLowerCase() === park.city'>
				<td>{{ park.parkName }}</td>
				<td>{{ park.address }}</td>
				<td>{{ park.city }}, {{ park.county }}, {{ park.zipCode }}</td>
				<td><input type="checkbox" v-model='park.visited'></input></td>
                <td><input type="checkbox" v-model='park.favorite'></input></td>
			</tr>
			<tr v-for="park in parks" :key='park.id' v-if='park.county === searchParam.toLowerCase()'>
				<td>{{ park.parkName }}</td>
				<td>{{ park.address }}</td>
				<td>{{ park.city }}, {{ park.county }}, {{ park.zipCode }}</td>
				<td><input type="checkbox" v-model='park.visited'></input></td>
                <td><input type="checkbox" v-model='park.favorite'></input></td>
          	</tr>
			<tr v-for="park in parks" :key='park.id' v-if='park.zipCode === searchParam'>
				<td>{{ park.parkName }}</td>
				<td>{{ park.address }}</td>
				<td>{{ park.city }}, {{ park.county }}, {{ park.zipCode }}</td>
				<td><input type="checkbox" v-model='park.visited'></input></td>
                <td><input type="checkbox" v-model='park.favorite'></input></td>
          </tr>
		  </table>
		  
		</div>
		<section>  
		 	<div class='row'>
			<div class="col">
				<p>Parks I want to visit.</p>
		  	
				<table>
					<thead><td>Park</td><td>Street Address</td><td>Zip Code</td><td>To Visit</td></thead>
					<tr v-for="park in parks" :key='park.id' v-if='park.visited === true'>
						<td>{{ park.parkName }}</td>
						<td>{{ park.address }}</td>
						<td>{{ park.zipCode }}</td>
						<td><input type="checkbox" v-model='park.visited'></input></td>
          			</tr>
		  		</table>
		  	</div>
		  	<div class="col">
				<p>My Favorite Parks</p>
				<table>
				<thead><td>Park</td><td>Street Address</td><td>Zip Code</td><td>Favorite</td></thead>
				<div>
			<tr v-for="park in parks" :key='park.id' v-if='park.favorite === true'>
				<td>{{ park.parkName }}</td>
				<td>{{ park.address }}</td>
				<td>{{ park.zipCode }}</td>
				<td><input type="checkbox" v-model='park.favorite'></input></td>
          </tr>
		  </table>
		  </div>
		</div>
		</section>
		<div class="park">  
		<label>Search by park feature: </label>
		  <input type='search' autocomplete='off' prompt='Search by park feature' v-model='search'></input>
        
			<table>
			<thead><td>Park</td><td>Features</td</thead>

			<tr v-for="highlight in highlights" :key='highlight.id' v-if='search.toLowerCase() == highlight.features'>
				<td>{{ highlight.parkName }}</td>
				<td>{{ highlight.features }}</td>
          	</tr>
		  	</table>
        </div>
	</div>
	<footer>
		<h2></h2>
		<p>Thank you for visiting our page.</p>
	</footer>
	<script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
</body>
</html>